html {

    scroll-behavior: smooth;

}


body {

    background: #0f0f0f;
    color: white;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

@media (max-width: 768px) {

    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        flex-direction: column;
        text-align: center;

    }

    .box {

        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;

        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        flex-direction: column;
        width: 100%;
        gap: 15px;

        color: #fff;
        background: #1a1a1a;
        border: 1px solid #c08457;
        align-items: center;

    }


}

.logo {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-right: 100px;

}

@media (max-width: 768px) {


    section {
        background: #1a1a1a;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
    }

    footer {

        background: #1a1a1a;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;

    }

}

h1,
h2,
h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #c08457;

}


@media (max-width: 768px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

}


button {
    background: #c08457;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: fit-content;
}

button:hover {

    color: #a06b45;

}

.flex {

    display: flex;
    align-items: center;
    gap: 20px;

}


@media (max-width: 768px) {

    .flex {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

}


.text {

    width: 100%;

}

img {

    width: 100%;
    height: auto;
    border-radius: 10px;

}

@media (max-width: 768px) {
    img {
        max-height: 250px;
        object-fit: cover;
    }
}

.box a {
    color: white;
    text-decoration: none;
}

.whatsapp-btn {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}

.menu-card {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .menu-card {
        flex-direction: column;
    }
}