html {

    scroll-behavior: smooth;

}


body {

    background: #0f0f0f;
    color: white;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}

.logo {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-right: 100px;

}

section {
    background: #1a1a1a;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
}

footer {

    margin-left: 50px;
    background: #1a1a1a;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;

}

h1,
h2,
h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #c08457;

}


button {
    background: #c08457;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button:hover {

    color: #a06b45;

}

.flex {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.text {

    max-width: 500px;

}

img {

    width: 100%;
    max-width: 400px;
    height: auto;

}

.box {

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;


    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;

    color: #fff;
    background: #1a1a1a;
    border: 1px solid #c08457;
    padding: 15px;
    align-items: center;
}

.box a {
    color: white;
    text-decoration: none;
}


.mainbox {

    display: flex;
    flex-direction: column;

}

.mainbox a {

    color: #fff;
    text-decoration: none;

}


.contact-box {
    text-align: center;
    margin-top: 30px;
}

.contact-box h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.whatsapp-btn {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}